// colors
$color-primary: #000;
// Colores base con variaciones HSL
$color-gray: (
  1: hsl(0, 0%, 95%),
  2: hsl(0, 0%, 85%),
  3: hsl(0, 0%, 75%),
  4: hsl(0, 0%, 65%),
  5: hsl(0, 0%, 55%),
  6: hsl(0, 0%, 45%),
  7: hsl(0, 0%, 35%),
  8: hsl(0, 0%, 25%),
  9: hsl(0, 0%, 15%),
  10: hsl(0, 0%, 5%)
);

$color-blue: (
  1: hsl(210, 100%, 95%),
  2: hsl(210, 100%, 85%),
  3: hsl(210, 100%, 75%),
  4: hsl(210, 100%, 65%),
  5: hsl(210, 100%, 55%),
  6: hsl(210, 100%, 45%),
  7: hsl(210, 100%, 35%),
  8: hsl(210, 100%, 25%),
  9: hsl(210, 100%, 15%),
  10: hsl(210, 100%, 5%)
);

$color-red: (
  1: hsl(0, 100%, 95%),
  2: hsl(0, 100%, 85%),
  3: hsl(0, 100%, 75%),
  4: hsl(0, 100%, 65%),
  5: hsl(0, 100%, 55%),
  6: hsl(0, 100%, 45%),
  7: hsl(0, 100%, 35%),
  8: hsl(0, 100%, 25%),
  9: hsl(0, 100%, 15%),
  10: hsl(0, 100%, 5%)
);

$color-green: (
  1: hsl(120, 100%, 95%),
  2: hsl(120, 100%, 85%),
  3: hsl(120, 100%, 75%),
  4: hsl(120, 100%, 65%),
  5: hsl(120, 100%, 55%),
  6: hsl(120, 100%, 45%),
  7: hsl(120, 100%, 35%),
  8: hsl(120, 100%, 25%),
  9: hsl(120, 100%, 15%),
  10: hsl(120, 100%, 5%)
);

$color-yellow: (
  1: hsl(60, 100%, 95%),
  2: hsl(60, 100%, 85%),
  3: hsl(60, 100%, 75%),
  4: hsl(60, 100%, 65%),
  5: hsl(60, 100%, 55%),
  6: hsl(60, 100%, 45%),
  7: hsl(60, 100%, 35%),
  8: hsl(60, 100%, 25%),
  9: hsl(60, 100%, 15%),
  10: hsl(60, 100%, 5%)
);

