/* font Donwload Page -> https://fonts.google.com/*/
@font-face {
  font-family: 'Basic';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(../../web/assets/fonts/Basic/Basic-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(../../web/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url(../../web/assets/fonts/Roboto/Roboto-Bold.ttf);
}